<img src="/images/png-transparent-beer-glassware-graphy-delicious-beer-glass-photography-beer-bottle-thumbnail.png" alt="Beer">
<a href="/beers">Check the Beers!</a>
<a href="/random">Check a Random Beer!</a>