<h2>random</h2>

{{#each randomBeer}}
    <div class="beer-cont">
        <img src="{{image_url}}">
        <h3>{{name}}</h3>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
    </div>
    
{{/each}}