body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 200px;
  object-fit: cover;
}

.beer-cont {
  border: 1px solid black;
}